header {
    cursor: default;
    display: flex;
    justify-content: space-evenly   ;
    background-color: #96BE8C;
    height: 10vh;
    align-items: center;

    h4 {
        color: white;
        cursor: default;
    }
}