
  .main {
    display: flex;
    flex-direction: column;
    gap: 15vh;
    padding-left: 20vh;
  
    .texto {
      display: flex;
      flex-direction: column;
      gap: 5vh;
  
      h1 {
        color: #C9F2C7;
        font-size: 9vh;
        font-family: Arial, sans-serif;
        font-weight: normal;
        cursor: default;
      }
  
      p {
        color: #C9F2C7;
        font-size: 3vh;
        line-height: 4vh;
        font-family: Arial, sans-serif;
        font-weight: normal;
        width: 70vh; /* Ajuste a largura para restringir o texto */
      }
    }
  }
  